* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    margin: 60px 0 10px;
}

.genres {
    background-color: #f3f3f3;
    padding: 20px;
}

.genres h2 {
    margin: 10px 0;
}

.btn {
    border: 0;
    background-color: #c9c5c5;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    background-color: #bbbaba;
}

.genres-btns {
    display: flex;
    justify-content: space-between;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #bbbaba;
    padding: 10px;
}

th {
    text-align: left;
    font-weight: bold;
    background-color: #c9c5c5;
}

tr:hover {
    background-color: #f3f3f3;
}